<div id="page-wrapper">

  <!-- Page Heading -->
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">
                      <b>감지기 설정</b>
                  </h1>
                  <ol class="breadcrumb">
                      <li class="active">
                          <i class="fa fa-gaer"></i> 설정
                      </li>
                  </ol>
              </div>
          </div>
<div >
<h5><b>(1)번 감지기</b></h5>

<script src="/socket.io/socket.io.js"></script>




<form id="standardform1" name="standardform1" method="POST" action="/input1">
<h5>센서 세팅:
<input type ="checkbox" style="width:25px;height:25px;" id="ruleid1" name="ruleid1" value="on" onclick="stsubmit1()"/>세팅값 적용
<i class=" fa fa-long-arrow-right"></i>
<script>
  function stsubmit1() {
      standardform1.submit();
  }
</script>
</form>
<%= data_1.rule001 %>
</h5>
<div id="test">

</div>

<div class="form-group">

  <div>
    <h5>
      <form id="ruleform1" name="ruleform1" method="POST" action="/input1">
      기준치 :
      <input type ="text"  id="range1" name="range1" value=""placeholder="<%=data_1.range001%>
      "/>
      <button id="std1">적용 </button>
    </div>
    </h5>
  <script>
  var socket = io.connect("http://52.78.82.199:80");
    //var dao = "<%=data_1.range001%>"
  socket.on('email1',function () {
      socket.emit('standardData');
  })
  $('#std1').click(function () {
      ruleform1.submit();
  })


  </script>
  </form>


    </div>
  </div>

  <div >
    <h5><b>(2)번 감지기</b></h5>

    <form id="standardform2" name="standardform2" method="POST" action="/input2">
    <h5>센서 세팅:
    <input type ="checkbox" style="width:25px;height:25px;" id="ruleid2" name="ruleid2" value="on" onclick="stsubmit2()"/>세팅값 적용
    <i class=" fa fa-long-arrow-right"></i>
    <script>
      function stsubmit2() {
          standardform2.submit();
      }
    </script>
    </form>
    <%= data_2.rule002 %>
    </h5>
    <div id="test">

    </div>

    <div class="form-group">

      <div>
        <h5>
          <form id="ruleform2" name="ruleform2" method="POST" action="/input2">
          기준치 :
          <input type ="text"  id="range2" name="range2" value="" placeholder="<%=data_2.range002%>
          "/>
          <button id="std2">적용 </button>
        </div>
        </h5>
        <script>
        var socket = io.connect("http://52.78.82.199:80");
          //var dao = "<%=data_1.range001%>"
          socket.on('email2',function () {
              socket.emit('standardData');
          })
          $('#std2').click(function () {
              ruleform2.submit();
          })
        </script>
        </form>


      </div>
    </div>


    <div >
      <h5><b>(3)번 감지기</b></h5>

      <form id="standardform3" name="standardform3" method="POST" action="/input3">
      <h5>센서 세팅:
      <input type ="checkbox" style="width:25px;height:25px;" id="ruleid3" name="ruleid3" value="on" onclick="stsubmit3()"/>세팅값 적용
      <i class=" fa fa-long-arrow-right"></i>
      <script>
        function stsubmit3() {
            standardform3.submit();
        }
      </script>
      </form>
      <%= data_3.rule003 %>
      </h5>
      <div id="test">

      </div>

      <div class="form-group">

        <div>
          <h5>
            <form id="ruleform3" name="ruleform3" method="POST" action="/input3">
            기준치 :
            <input type ="text"  id="range3" name="range3" value="" placeholder="<%=data_3.range003%>
            "/>
            <button id="std3">적용 </button>
          </div>
          </h5>
          <script>
          var socket = io.connect("http://52.78.82.199:80");
            //var dao = "<%=data_1.range001%>"
            socket.on('email3',function () {
                socket.emit('standardData');
            })
            $('#std3').click(function () {
                ruleform3.submit();
            })
          </script>
          </form>


        </div>
      </div>



      <div >
      <h5><b>(4)번 감지기</b></h5>

      <form id="standardform4" name="standardform4" method="POST" action="/input4">
      <h5>센서 세팅:
      <input type ="checkbox" style="width:25px;height:25px;" id="ruleid4" name="ruleid4" value="on" onclick="stsubmit4()"/>세팅값 적용
      <i class=" fa fa-long-arrow-right"></i>
      <script>

        function stsubmit4() {
            standardform4.submit();
        }
      </script>
      </form>
      <%= data_4.rule004 %>
      </h5>
      <div id="test">

      </div>

      <div class="form-group">

        <div>
          <h5>
            <form id="ruleform4" name="ruleform4" method="POST" action="/input4">
            기준치 :
            <input type ="text"  id="range4" name="range4" value=""placeholder="<%=data_4.range004%>
            "/>
            <button id="std4">적용 </button>
          </div>
          </h5>
          <script>
          var socket = io.connect("http://52.78.82.199:80");
            //var dao = "<%=data_1.range001%>"
            socket.on('email4',function () {
                socket.emit('standardData');
            })
            $('#std4').click(function () {
                ruleform4.submit();
            })
          </script>
          </form>


          </div>
        </div>


        <div >
        <h5><b>(5)번 감지기</b></h5>

        <form id="standardform5" name="standardform5" method="POST" action="/input5">
        <h5>센서 세팅:
        <input type ="checkbox" style="width:25px;height:25px;" id="ruleid5" name="ruleid5" value="on" onclick="stsubmit5()"/>세팅값 적용
        <i class=" fa fa-long-arrow-right"></i>
        <script>
          function stsubmit5() {
              standardform5.submit();
          }
        </script>
        </form>
        <%= data_5.rule005 %>
        </h5>
        <div id="test">

        </div>

        <div class="form-group">

          <div>
            <h5>
              <form id="ruleform5" name="ruleform5" method="POST" action="/input5">
              기준치 :
              <input type ="text"  id="range5" name="range5" value="" placeholder="<%=data_5.range005%>
              "/>
              <button id="std5">적용 </button>
            </div>
            </h5>
            <script>
            var socket = io.connect("http://52.78.82.199:80");
              //var dao = "<%=data_1.range001%>"
              socket.on('email5',function () {
                  socket.emit('standardData');
              })
              $('#std5').click(function () {
                  ruleform5.submit();
              })
            </script>
            </form>


            </div>
          </div>






<!-- /#page-wrapper -->
</div>
